<section class="listes">

  <!-- <h1>Contactez-nous !</h1> -->

<div class="container_contact">

  <mat-card>

    <form class="formulaire-contact" [formGroup]="contactForm" (ngSubmit)="onSend(this)">

      <mat-form-field appearance="outline">
        <input matInput placeholder="Nom / Prénom" formControlName="user_name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput type="email" placeholder="Email" formControlName="user_email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <textarea matInput placeholder="Message" formControlName="user_message"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">Submit</button>

    </form>

  </mat-card>
  
</div>

</section>