<section class="add-list">

    <!-- Titre de la liste -->
    <h2>{{datalist.list_title}}</h2>


    <!-- Affichage des descriptions -->
    <div class="list-check-desc" *ngIf="descArray">
        <ul *ngFor="let desc of descArray">
            <li>
                <input type="checkbox" id="checkDesc">
                <label for="checkDesc">
                    {{desc.detail_description}}
                </label>
                <mat-icon matSuffix (click)="onDeleteDesc(desc.detail_id)">cancel</mat-icon>
            </li>

        </ul>
    </div>


    <!-- Les boutons en footer -->
    <div class="btn-footer">
        <button mat-fab extended color="warn">
            <mat-icon> local_printshop</mat-icon>
            Imprimer
        </button>
        <!-- <a mat-fab extended routerLink=".">
            <mat-icon>favorite</mat-icon>
            Link
        </a> -->
        <button mat-fab extended color="primary" (click)="onValidateList()">
            <mat-icon>exit_to_app</mat-icon>
            Sortir
        </button>
    </div>



</section>