.side-bar-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    h2 {
      padding: 10%;
      font-size: 30px;
    }
    .nav {
        display: flex;
        flex-direction: column;
        padding: 10%;
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: black;
          margin: 10px;
          &:hover {
            color: white;
          }
          mat-icon {
              font-size: 40px;
              height: 50px;
              width: 50px;
          }
        }
        .escape {
          padding: 10px;
        }
    }
}

.escape {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  p {
    margin: 1px;
  }
  mat-icon {
    margin: 10px 10px 10px 5px;
  }
}
