.page-erreur {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url('^/assets/Images/erreur404.jpg') center no-repeat;
    width: 100vw;
    height: 100vh;
    h1 {
        font-size: 60px;
    }
    p {
        font-size: 40px;
    }
}