<section class="add-list">

    <h2>Voulez-vous supprimer cette liste ?</h2>
    <span> >> {{dataList.list_title}} << </span>
  
    <mat-icon>warning</mat-icon>
    <p>Attention !! Cette action est définitive. Vous ne pourrez plus accéder à cette liste par la suite.</p>


    <!-- Les boutons en footer -->
    <div class="btn-footer">

        <!-- bouton delete liste-->
        <button mat-fab extended color="warn" (click)="onDeleteList()">
            <mat-icon>delete_forever</mat-icon>
            Supprimer
        </button>

        <!-- bouton sortir de la modale -->
        <button mat-fab extended color="primary" (click)="onCloseModale()">
            <mat-icon>exit_to_app</mat-icon>
            Sortir
        </button>

    </div>


</section>
