section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('https://i.picsum.photos/id/293/6000/4000.jpg?hmac=aMxbGEceC_xdAFXhpS_u1c_Qm5lajfpXgWv0-VNj9As') top left no-repeat;
  background-position: center;
  background-size: cover;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    mat-form-field {
      min-width: 300px;
    }
    .sendButton {
      width: 100%;
    }
  }
}

