section {
    background: url('^/assets/Images/Fond-ecran-overview.png') no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        width: 100%;
        padding-left: 5%;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 25px;
        font-weight: 500;
        display: flex;
        align-items: center;
        background-color: #e8a984;
    }

    h2 {
        margin-bottom: 30px;
    }

    .formulaire {
        padding: 30px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 350px;
        background: rgba($color: white, $alpha: 0.3);
        backdrop-filter: blur(10px);

        mat-form-field {
            width: 300px;
        } 

        .sendButton {
            margin-top: 10px;
            width: 100%;
        }
    }

    .deleteButton {
        margin-top: 20px;
        width: 300px;
    }

}