<section>
  <router-outlet></router-outlet>
</section>




<!--  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>


 <mat-grid-list cols="3" [style.background]="'skyblue'">
  <mat-grid-tile>Tile 1 </mat-grid-tile>
  <mat-grid-tile>Tile 2 </mat-grid-tile>
  <mat-grid-tile>Tile 3 </mat-grid-tile>
  <mat-grid-tile>Tile 4 </mat-grid-tile>
  </mat-grid-list> -->