section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('^/assets/Images/fond-ecran-voyage-appli.png') no-repeat;
    background-position: bottom;
    background-size: cover;
            box-sizing: border-box;
        overflow-y: scroll;
}

.card{
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.711);
    background: rgba($color: white, $alpha: 0.3);
    backdrop-filter: blur(10px);
    
}

h1 {
    font-size: 40px;
    a {
        color: rgb(5, 5, 193);
        // text-decoration: underline;
        &:hover {
            color: 
            #ffd6a8;
        }
    }
}

p {
    text-align: center;
    margin: 10px 0 20px;
    &:nth-child(4) {
        margin: 20px 0 0;
    }
    a {
        color: rgb(5, 5, 193);
        // text-decoration: underline;
        &:hover {
            color: 
            #ffd6a8;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
}