<section class="add-list">

    <h2>Entrez le titre de votre nouvelle liste</h2>

    <form>

        <!-- Input pour le titre de la liste -->
        <mat-form-field class="input-title" appearance="outline">
            <mat-label>Titre de cette liste</mat-label>
            <input matInput type="text" [formControl]="titleControl" #message maxlength="1000"
                placeholder="Ex. Visite de New York" (keypress)="onSendTitle($event)" required>
        </mat-form-field>

    </form>
    
    <p>(Vous pourrez modifier votre liste une fois qu'elle sera crée)</p>
    

    <!-- Les boutons en footer -->
    <div class="btn-footer">

        <!-- bouton valider -->
        <button mat-fab extended color="primary" (click)="onValidateList()" [disabled]="titleControl.invalid">
            <mat-icon>playlist_add_check</mat-icon>
            Valider
        </button>

        <!-- bouton annuler -->
        <button mat-fab extended color="warn" (click)="onCloseModale()" [disabled]="titleControl.invalid">
            <mat-icon>exit_to_app</mat-icon>
            Annuler
        </button>

    </div>


</section>