<section class="add-list">
        <mat-icon class="cancel" (click)="onCancel()">cancel</mat-icon>

    <!-- !Inclure le titre de la liste actuelle -->
    <!-- <h2>{{}}</h2> -->
    <h2>Titre de la liste</h2>


    <p class="detail">Ajoutez des détails à cette liste</p>


    <form class="form-desc">

        <!-- Input pour créer les descritpions de la liste -->
        <div class="input-desc">
            <mat-form-field appearance="outline">
                <mat-label>Ecrivez-ici...</mat-label>
                <input matInput type="text" [formControl]="descControl" placeholder="Ex. Visiter le musée...">
            </mat-form-field>
            <button type="submit" class="btn-validate">
                <mat-icon (click)="onAddTitle()">check</mat-icon>
            </button>
        </div>

    </form>



    <!-- Affichage des descriptions -->
    <div class="list-check-desc">
        <ul>
            <!-- ! Itéré sur les listes ci dessous -->
            <li>
                <input type="checkbox" id="checkDesc">
                <label for="checkDesc">Description</label>
            </li>
            
        </ul>
    </div>


    <p>_______________________________</p>
    <!-- <mat-divider [inset]="true"></mat-divider> -->


    <p>Je souhaite modifier le titre de cette liste :</p>

    <form class="modif-titre">

        <!-- Input pour le titre de la liste -->
        <div class="input-title">

            <mat-form-field appearance="outline">
                <mat-label>Modifier le titre de cette liste</mat-label>
                <!-- ! Inclure le titre de la liste actuelle en placeholder -->
                <input matInput type="text" [formControl]="titleControl" #message maxlength="1000" placeholder="Titre"
                    (keypress)="onSendTitle($event)">
            </mat-form-field>

            <button type="submit" class="btn-validate">
                <mat-icon (click)="onAddTitle()">check</mat-icon>
            </button>

        </div>

    </form>

    <!-- Supprimer la liste -->
    <div>
        <p>Je clique <span class="delete">ici</span> pour supprimer cette liste.<br> Attention ! cette action est définitive, vous ne pourrez pas récupérer ces informations.</p>
    </div>


    <!-- Les boutons en footer -->
    <div class="btn-footer">
        <button mat-fab extended color="primary" (click)="onValidateList()" [disabled]="titleControl.invalid">
            <mat-icon>playlist_add_check</mat-icon>
            Valider
        </button>
        <button mat-fab extended color="warn" [disabled]="titleControl.invalid">
            <mat-icon>cancel</mat-icon>
            Annuler
        </button>
        <button mat-fab extended color="primary" [disabled]="titleControl.invalid">
            <mat-icon>print</mat-icon>
            PDF
        </button>
        <!-- <a mat-fab extended routerLink=".">
          <mat-icon>favorite</mat-icon>
          Link
        </a> -->
    </div>



</section>