.add-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    // background-color: #ecb475;
    background: rgba($color: #ecb475, $alpha: 0.8);
    backdrop-filter: blur(10px);

    .cancel {
        display: flex;
        align-self: flex-end;
    }

    h2 {
        font-size: 28px;
    }

    .detail {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .form-desc {
        min-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .input-desc {
            min-width: 260px;
            height: 50px;
            margin-bottom: 35px;
            display: flex;
        }

    }

    .list-check-desc {
        display: flex;
        flex-direction: column;
        margin-top: -20px;

        ul {
            list-style-type: none;
            margin-left: -50%;

            li {
                display: flex;
                align-items: center;

                input[type="checkbox"] {
                    width: 30px;
                    height: 30px;
                    margin-right: 20px;
                }

                label {
                    font-size: 18px;
                }

                #checkDesc:checked+label {
                    text-decoration: line-through;
                }
            }


        }
    }

    .modif-titre {}

    .btn-footer {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

        button {
            margin: 10px;
        }
    }

}


.btn-validate {
    margin-left: 10px;
    height: 55px;
    width: 50px;
    background-color: #4051b5;
    border-radius: 5px;
    border: none;
    color: white;
}


h2,
p {
    text-align: center;
}