<section class="listes">

    <!-- <h1>Mes listes</h1> -->

    <div class="container-list" *ngIf="listsArray">

        <div class="lists" *ngFor="let list of listsArray">

            <!-- titre liste -->
            <p (click)="onClickPrintList(list)">{{list.list_title}}</p>

            <div class="modale">
                <!-- Modif titre -->
                <div class="btn-modale" (click)="onClickModif(list)">
                    <mat-icon>create</mat-icon>
                </div>

                <!-- Ajout description -->
                <div class="btn-modale" (click)="onClickAddDesc(list)">
                    <mat-icon>view_list</mat-icon>
                </div>

                <!-- Supprimer liste -->
                <div class="btn-modale" (click)="onClickSuppList(list)">
                    <mat-icon>delete_forever</mat-icon>
                </div>

                <!-- Afficher Liste -->
                <!-- <div class="btn-modale" (click)="onClickPrintList(list)">
                    <mat-icon> list_alt</mat-icon>
                </div> -->
            </div>

        </div>

        <div class="add">
            <div class="btn" (click)="onClickPlus()">
                <p> + </p>
            </div>
        </div>


    </div>



</section>